AGENTS.md
CLAUDE.md
GEMINI.md
__pycache__
build
dist
*.spec
*.jpg
*.pt
.claude
.pytest_cache
.venv/
.vscode/settings.json
/prompt
/GUI/VR_Mosaic_Removal/prompt
uv.lock
reference
runtime_cache
debug_output
videos
models/
